
<section id="contacto">
    <h2>Contacto</h2>
    <p>Si tienes preguntas o necesitas más detalles sobre nuestros cursos, no dudes en ponerte en contacto conmigo. Estoy aquí para apoyarte en tu proceso de aprendizaje</p>
    <h3>Información de Contacto</h3>
    <p>Email:jmorochoy2.ups.edu.ec</p>
    <p>Teléfono: +593 987413828</p>


    <h3>Horarios de Atención</h3>
    <p>Lunes a Viernes: 9:00 AM - 5:00 PM</p>

    <div style="text-align: center;">
        <img src="https://i.pinimg.com/736x/f2/b1/61/f2b1618c5c371bdab6073571f6e8b007.jpg" alt="Descripción de la imagen" style="width: 200px; height: auto;">
    </div>

</section>

