<section id="home">
    <h2>Bienvenido </h2>
    <p>Te damos la bienvenida a nuestra plataforma educativa, donde encontrarás una amplia gama de cursos diseñados para satisfacer diversas necesidades de aprendizaje! Ofrecemos programas en diferentes áreas de conocimiento, que abarcan desde habilidades técnicas hasta desarrollo personal.</p>
    <h2>Ofertas </h2>
    <p>Nuestra oferta incluye cursos en materias como programación, diseño gráfico, marketing digital, gestión empresarial y mucho más. Cada curso está cuidadosamente diseñado para proporcionar una experiencia de aprendizaje enriquecedora y práctica, adaptándose a diferentes niveles de conocimiento, desde principiantes hasta expertos. </p>
    <h2>¡Empieza Ya!</h2>
    <p>No esperes más para cambiar tu futuro. Únete a nosotros y comienza tu viaje de aprendizaje hoy mismo. ¡Inscríbete en nuestros cursos y transforma tu vida! </p>
    <img src="https://cdn.euroinnova.edu.es/img/subidasEditor/training-3185170_640-1632332401-1637364837.webp" alt="cursoamigo" alt="Descripción de la imagen" class="imagen-curso"  />

</section>


