article, section {
    margin: 10px auto; /* Centrando el contenedor */
    padding: 15px; /* Reducción del padding */
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Mejora la letra */
    max-width: 600px; /* Establecer un ancho máximo para mantenerlo compacto */
}

h2 {
    color: #4b2bc0; /* Color para los títulos */
    text-align: center; /* Centrar el título */
}

/* Estilo para la barra de búsqueda */
#buscarCursos {
    width: calc(100% - 24px); /* Ajustar el ancho total menos el padding y borde */
    padding: 10px; /* Ajuste del padding */
    margin-bottom: 15px; /* Reducir margen inferior */
    border: 2px solid #C0392B; /* Color rojo para los bordes */
    border-radius: 8px;
    font-size: 16px; /* Ajuste del tamaño de la fuente */
    background-color: #f4f4f4;
    transition: border-color 0.3s ease; /* Efecto al enfocar */
}

#buscarCursos:focus {
    border-color: #E74C3C; /* Rojo más intenso al enfocar */
}

/* Estilo para la lista de cursos */
#listaCursos div {
    margin: 10px 0; /* Reducir el margen entre cursos */
    padding: 12px; /* Reducción del padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
}

/* Botón "Ver más detalles" */
.btnDetalles {
    background-color: #51df70; /* Color verde */
    color: white;
    padding: 10px 15px; /* Ajustar el padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Reducir el tamaño de la fuente */
    margin: 5px; /* Espaciado entre botones */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Añadir efecto al hover */
    display: inline-block; /* Mantener el botón compacto */
}

.btnDetalles:hover {
    background-color: #A93226; /* Rojo más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevación */
}

/* Botón Editar */
.btnEditar {
    background-color: #2b2010;
    color: white;
    padding: 10px 15px; /* Ajustar el padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajustar el tamaño de la fuente */
    margin: 5px; /* Espaciado entre botones */
}

.btnEditar:hover {
    background-color: #2b2010;
}

/* Botón Eliminar */
.btnEliminar {
    background-color: #f44336;
    color: white;
    padding: 10px 15px; /* Ajustar el padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Ajustar el tamaño de la fuente */
    margin: 5px; /* Espaciado entre botones */
}

.btnEliminar:hover {
    background-color: #d32f2f;
}

/* Detalles */
.detalles {
    margin-top: 10px;
}

/* Mejora de la letra en general */
body {
    font-size: 16px; /* Tamaño de la fuente global */
    color: #333; /* Color del texto */
    max-width: 1000px; /* Ancho máximo del body */
    margin: 0 auto; /* Centrar el contenido del body */
}
