article, section {
    margin: 10px auto; /* Centrando el contenedor */
    padding: 15px; /* Reducción del padding */
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Mejorar la letra */
    max-width: 600px; /* Establecer un ancho máximo para mantenerlo compacto */
}

h2 {
    color: #FF0000; /* Cambiado a rojo */
    text-align: center; /* Centrar el título */
}

form label {
    display: block;
    margin: 5px 0; /* Reducir el margen para hacer más compacto */
    font-weight: bold; /* Añadir negrita a las etiquetas */
    color: #333; /* Color de texto más oscuro para mejor legibilidad */
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: calc(100% - 22px); /* Ajustar el ancho total menos el padding y borde */
    padding: 10px;
    margin: 5px 0; /* Reducir el margen entre inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Reducir el tamaño de la fuente para un diseño más compacto */
}

.btnEnviar {
    background: #007BFF; /* Cambiado a azul */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px; /* Ajustar el tamaño de la fuente */
    width: 100%; /* Botón de ancho completo */
}

.btnEnviar:hover {
    background: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Si deseas cambiar el color del borde de los inputs al recibir foco */
form input[type="text"]:focus,
form input[type="date"]:focus,
form textarea:focus {
    border-color: #007BFF; /* Azul al enfocar */
}
